rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /contacts/{document} {
      allow write: if true;  // Allows form submissions
      allow read: if false;  // Only I can read through Firebase Console
    }
  }
}